body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lewy {
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
}

#prawy {
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
}

#polecamy,
#fantastyczne {
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
}

footer {
    background-color: #29434E;
    color: white;
}

.chunk {
    padding: 5px;
    width: 226px;
    height: 280px;
    float: left;
}

h3 {
    background-color: #546E7A;
    color: white;
    margin: 0;
}

h4 {
    text-align: center;
    margin: 0;
}

/* Moje */
header {
    display: flex;
    flex-direction: row;
}